# Dependencies
/node_modules

# Next.js
/.next/
/out/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Local Environment Variables
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# macOS
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files (opcional, mas comum)
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.sublime-workspace
*.sublime-project

# Firebase - Se você usar o Firebase CLI localmente para outras coisas
# .firebase/*
# firebase-debug.log*
# भूकंप.log
# *.rdb
# *.snap
